{% extends 'base.html.twig' %}

{% block title %}| {{ 'title.game_failed'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'subtitle.game_failed'|trans }}</h2>

    <p>
        {% trans with { '%word%': 'xilophon' } %}
            game.failed
        {% endtrans %}
    </p>
{% endblock %}
