{% extends 'base.html.twig' %}

{% block title %}| {{ 'title.game_won'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'subtitle.game_won'|trans }}</h2>

    <p>
        {% trans with { '%word%': game.word } %}
            game.won
        {% endtrans %}
    </p>
{% endblock %}
